.bed{
    aspect-ratio: 75/38;
    /* background-color: gray; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    background-image: url("../furniture/bed.svg");
}

.desk{
    aspect-ratio: 75/38;
    /* background-color: gray; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    background-image: url("../furniture/desk.svg");
}

#grid{
    width: 3000px;
    height: 3000px;
    background-size: 500px;
    min-width: 140%;
    min-height: 140%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    background-color: white;
}

body{
    background: url("../floorplans/f6vGv.png");
    background-color: rgba(0,0,0,0);
}

.bg-1{
    background-color: #212121
}

.logo-top-header{
    background: url("../dormmaker.png");
    background-size: 220px;
    background-repeat: no-repeat;
    border: none;
    width: 260px;
    left: 24px;
    height: 50px;
}

.btn-pink{
    background: #FF00FF;
    color: white
}

.btn-pink:hover{
    background: purple;
    color: white;
}

.txt-skyblue{
    color: #71B4F7
}

.txt-skyblue:hover{
    color: #71B4F7;
}

.text-muted:hover{
    color: white;
}

